@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Bubblegum Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/BubblegumSans-Regular.ttf') format('truetype');
  }
}
